body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for transform */
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.1);
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Zoom in effect on hover */
}
